<head>
    <link rel="stylesheet" href="style.css">
</head>

    <section>
        <div class="formcanto">
            <div class="container">
                <div class="contato">
                    <div>
                        <h2>Contato</h2>
                        <ul class="info">
                            <li>
                                <span><img src="/img/email.png"></span>
                                <span>endracers@gmail.com</span>                            
                            </li>
                            <li>
                                <span><img src="/img/wz.png"></span>
                                <span>55-11-98450-6365</span>
                            </li>
                        </ul>
                    </div>
                </div>                     
                <form action="/add" method="post">
                    <div class="formcontato">
                        <h2>Fale conosco</h2>
                        <div class="formBox">
                            <div class="inputBox w50"> 
                                <input type="text"name="primeiro_nome"required>
                                <span>Primeiro Nome</span>
                            </div>
                            <div class="inputBox w50"> 
                                <input type="text"name="ultimo_nome"required>
                                <span>Ultimo Nome</span>
                            </div>
                                <div class="inputBox w50"> 
                                <input type="text"name="email"required>
                                <span>email</span>
                            </div>
                            
                            <div class="inputBox w100"> 
                                <textarea name="mensagem"required></textarea> 
                                <span>escreva sua mensagem</span>
                            </div>
                            <div class="inputBox w100">
                                <input type="submit" value="ENVIAR">
                            </div> 
                        </div>
                    </div>
                </form>
            </div>                        
        </div>                
    </section>   