<head>
    <link rel="stylesheet" href="style.css">
</head>

<div class "align-self-center">             
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          CONHEÇA O GAME:
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
            <video width="480" height="320" autoplay muted loop>
                <source src="video/2.mp4" type="video/mp4">
            </video>
            <br>
            <h4>END RACERS é um jogo de corrida top-down desenvolvido com a Unity Engine, um dos motores de jogos mais adorados pelos desenvolvedores brasileiros.</h4>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          CODIGO ABERTO
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          <video width="480" height="320" autoplay muted loop>
                <source src="video/2.mp4" type="video/mp4">
                </video>
            <br>
            <h4>Muito mais que uma diversao passageira, o código-fonte do projeto será disponibilizado a todos para que o modifiquem, sugiram, ensinem e aprendam.</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid">        
        <h1> Jogue agora no Itchi.io</h1> 
        <br>            
        <iframe frameborder="0" src="https://itch.io/embed/812469" width="300" height="167"><a href="https://guizaords.itch.io/end-racers">End Racers by Guizaords</a></iframe>
    </div>
</div>


